{# templates/game/list.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="games-list">
            {% for game in games %}
                <div class="game-item">
                    <a href="{{ path('game_records', {'gameId': game.id}) }}">
                        <img src="/images/{{ game.image }}" alt="{{ game.name }}" class="game-image">
                        <div class="game-info">
                            <p>{{ game.name }}</p>
                            <p>{{ game.releaseYear }}</p>
                        </div>
                    </a>
                </div>
            {% else %}
                <p>No games found.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
