
{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Profile</h1>
    <div>User Info:</div>
    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
        <!-- Display other user info as needed -->
    </ul>

    <h2>Records</h2>
    {% for game, records in recordsByGame %}
        <h3>{{ game }}</h3>
        <ul>
            {% for record in records %}
                <li> <a href="/scoreboard/game/{{ record.game.id }}/records">
                        {% if record.player.isRegistered %}
                            <span class="badge">Crew Member</span>
                        {% endif %} {{ record.player.username }}{{ record.points }}{{ record.category.name }}{{ record.time ? record.time|date('H:i:s') : '' }}</a><br></li> <!-- Adjust based on your record structure -->
            {% endfor %}
        </ul>
    {% else %}
        <p>No records found.</p>
    {% endfor %}
</div>
{% endblock %}
