
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Profile</h1>
        <div>User Info:</div>
        <ul>
            <li>Username: {{ user.username }}</li>
            <li>Email: {{ user.email }}</li>
            <!-- Display other user info as needed -->
        </ul>
        <h2>Records</h2><!-- Records Table -->
                <table class="table" id="recordsTable">
                    <thead>
                    <tr>
                        <th>Game</th>
                        <th>Category</th>
                        <th>Points</th>
                        <th>Time</th>
                        <th>Video Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in recordsByGame %}
                        <tr>
                            <td>{{ record.game.name }}</td>
                            <td>{{ record.category.name }}</td>
                            <td>{{ record.points }}</td>
                            <td>{{ record.time ? record.time|date('H:i:s') : '' }}</td>
                            <td>
                                {% if record.link starts with 'http://' or record.link starts with 'https://' %}
                                    <a href="{{ record.link }}" target="_blank">{{ record.link }}</a>
                                {% else %}
                                    <a href="http://{{ record.link }}" target="_blank">{{ record.link }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No records found.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
{% endblock %}
