{# templates/score_board/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game Records</h1>
    {# Add this at the top or bottom of templates/score_board/game_records.html.twig #}

    <a href="{{ path('score_board_new', {'gameId': gameId}) }}" class="btn btn-primary">Create Record</a>
    <table>
        <thead>
        <tr>
            <th>Player</th>
            <th>Points</th>
            <th>Category</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.player }}</td>
                <td>{{ record.points }}</td>
                <td>{{ record.category.name }}</td>
                <td>{{ record.time ? record.time|date('Y-m-d H:i') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}